{% extends "base_generic.html" %}

{% block content %}

      <style>
  img {
     width: 100%;
     height: 200px;
   }

  </style>

    <div>
        {% load static %}
        <img src="{% static "images/banner_library.jpg" %}" />
    </div>

    <h1>Borrowed books</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})        
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}       
{% endblock %}

